node_modules
dist
build
storybook-static
.turbo
.cache
coverage

.DS_Store
Thumbs.db

.env
.env.*
!.env.example

*.log
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

packages/tokens/src/input
